@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

:root {
  --radius: 8px;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .btn-filled {
    @apply px-7 py-3 rounded-lg bg-primary-300 text-secondary-light font-semibold;
  }

  .btn-outlined {
    @apply px-7 py-3 rounded-lg bg-transparent text-primary-300 border-2 border-primary-300 font-semibold;
  }

  .btn-large {
    @apply lg:w-[28.125rem] lg:h-[5.5rem] w-[16.5rem] h-[3rem] rounded-xl bg-yellow-dark text-secondary-dark font-semibold font-source-sans text-base lg:text-[1.75rem];
  }
  .text-highlight {
    @apply rounded px-3 py-1 text-secondary-dark;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
