@tailwind base;
@tailwind components;
@tailwind utilities;

.second-font {
  font-family: var(--font-source-sans-3);
}
body {
  background: #f7f7f5;
  overflow-x: hidden;
}

.box-shadow {
  box-shadow: 0px 0px 11px 7px #0000001a;
}
@media (min-width: 768px) {
  .comparison-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-right: 1px solid #d1d5db; /* Gray-300 divider */
  }

  .comparison-container > .section:first-child {
    border-right: 1px solid #d1d5db;
  }
}
